@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    scroll-behavior: smooth;
    font-family: "Hubot Sans", sans-serif;
    background: rgba(0, 0, 0, 0.911);
}



.test-colors {
    color: #0582dbf1;
}