@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    scroll-behavior: smooth;
    background: #fcfcfc;
    font-family: "Hubot Sans", sans-serif;
}



.test-colors {
    color: #0582dbf1;
}